.sub-images-list {
  margin-top: 10px;
}

.sub-images-list::after {
  content: "";
  display: block;
  clear: both;
}

.sub-images-item {
  list-style: none;
  text-align: center;
  margin-top: 10px;
}

.sub-images-item>div {
  box-shadow: 0px 0px 5px #b2afaf;
}

.review-background {
  background: #f5f5f5;
  padding: 30px;
  margin-bottom: 30px;
}

.review-filter {
  margin-bottom: 15px;
}

.review .action {
  text-align: right;
}

.product-review-box {
  margin: 2em 0;
}

.product-col-1 .image {
  border-radius: 50%;
  overflow: hidden;
  height: 155px;
  background: #fff;
}

.product-col-1 img {
  width: 100%;
}

.user-info {
  text-align: center;
  margin: 10px 0;
}

.replies {
  margin-top: 20px;
}

.replies-image {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  background: #fff;
}

.replies-image>img {
  width: 100%;
}

.rep-custom {
  display: inline-block;
}

.rep-info-user {
  position: relative;
}

.replies-name {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.replies-text {
  background: #fff;
  margin-left: 10%;
  padding: 1%;
  box-shadow: 0px 0px 5px #b2afaf;
  border-radius: 4px;
}

.font-14 {
  font-size: 14px !important;
}

.review_detail {
  margin: 0;
  margin-bottom: 10px;
}
#posts-list .item {
  margin-bottom: 1em;
}
#posts-list .item::after {
  clear: both;
  content: '';
  display: block;
}
#posts-list .item .quick-reply {
  display: none;
}
#posts-list .item .quick-reply .btn_add_comment{
  margin-right: 10px;
}
#posts-list .item .diff_time{
  text-align: center;
  font-style: italic;
  color: #d2691e;
}
#posts-list .item .product-col-2 .replies {
  margin-left: 45px;
}
.top_brand_left {
    margin: 20px 0;
}
.detail-link {
    margin: 15px auto 0;
    text-align: center;
}
.filter {
    margin: 10px;
}

.custom-cart-submit {
  position: absolute;
  bottom: -25px;
  right: 0px;;
  font-size: 16px;
  font-weight: bold;
}

.note-cancel-order {
  width: 50%;
}

.margin-left-10px {
  margin-left: 10px;
}

.margin-left-10 {
  margin-left: 10%;
}

.margin-right-10px {
  margin-right: 10px;
}

.padding-tr-10px {
  padding: 10px 0px;
}

.description-detail {
  width: 95%;
  margin: 30px auto;
}

.description-detail p {
  color: #000000c2;
  padding-top: 15px;
}

.login-facebook {
  outline: none;
  border: none;
  padding: 10px 0;
  font-size: 1em;
  color: #fff;
  display: block;
  width: 100%;
  background: #3399cc;
  margin: 1.5em 0 0;
}

.login-facebook:hover {
  background: #ff0000;
  color: #fff;
}